*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --background-color: #f9f9f9;
    --primary-color: #0a1a3c;
    --success-color:#198038;
    --light-success-color:#9ef01a;
    --error-color:#da1e28;
    --text-color:#1a1a1a;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

header{
    padding: 0.8rem 1.3rem;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #d2d2d2;
}

header #left{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

header #right{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header span{
    background-color: var(--light-success-color);
    padding: 0.3rem 1.2rem;
    border-radius: 10px;
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

header #logo{
    font-size: 2rem;
    background-color: var(--primary-color);
    padding: 0.5rem 0.2rem;
    color: var(--background-color);
    border-radius: 10px;
}


