*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --background-color: #f9f9f9;
    --primary-color: #0a1a3c;
    --success-color:#198038;
    --error-color:#da1e28;
    --text-color:#1a1a1a;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

